@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding-bottom: 30px;
  min-height: 100vh;
  background-color: aqua;
  background-color: #ffffff;
  background: url(/img/wave.svg) no-repeat fixed center;
  background-size: cover;
  font-family: "Special Elite", cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-family: "Special Elite", cursive;
  font-size: 4rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);
  padding-top: 2rem;
  margin-top: 0;
}

.quote-container {
  margin: auto 10px;
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.quote-text {
  font-size: 2.75rem;
  padding: 1rem;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 3.5rem;
}

.quote-author {
  margin-top: 1rem;
  font-size: 2rem;
  font-style: italic;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: #333333;
  outline: none;
  padding: 0.5rem 0.8rem;
  box-shadow: 0 0.1rem rgba(121, 121, 121, 0.7);
}

button:hover {
  background: #474747;
}

button:active {
  transform: translate(0, 0.2rem);
}

.twitter-button:hover {
  color: #38a1f3;
}

.fa-twitter {
  font-size: 1.5rem;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
  .quote-text {
    font-size: 1.6rem;
  }

  .long-quote {
    font-size: 1.3rem;
  }

  .quote-author {
    font-size: 1.3rem;
  }
  .fa-quote-left,
  .fa-quote-right {
    font-size: 2rem;
  }
}
